.background {
  background: #e8f6fc url("../images/bg.jpg") repeat-x;
}

.content {
  width: 100%;
  height: -webkit-fill-available;
  background: url("../images/header.jpg") no-repeat center top;
}

header {
  width: 70%;
  margin: auto;
  height: 185px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #7ca4f3;
  float: right;
  width: 50%;
  border-radius: 15px 15px 0px 0px;
}
nav a {
  text-decoration: none;
  color: white;
  font: 17px Arial, Sans-serif;
  font-weight: bolder;
}
nav li {
  height: 100%;
}
nav .list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav .follow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav .follow span {
  color: white;
  font: 11px Arial, Sans-serif;
}
nav .follow .links img {
  width: 24px;
  height: 24px;
}

.main {
  width: 77%;
  margin: auto;
  height: fit-content;
  background-color: white;
}

.wrap {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}
.wrap .lf_sidebar {
  width: 25%;
}
.wrap .rh_sidebar {
  width: 20%;
}
.wrap .center {
  width: 55%;
}

.rh_sidebar .login {
  padding: 5px;
  height: 150px;
  background-color: #ffffcc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.rh_sidebar .login span {
  text-align: center;
}
.rh_sidebar .login .email {
  width: 100%;
}
.rh_sidebar .login .inp_email {
  width: 100%;
}
.rh_sidebar .search {
  padding-top: 20px;
}
.rh_sidebar .search .search_text {
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
}
.rh_sidebar .search .inp_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rh_sidebar .search .inp_btn input {
  padding-left: 25px;
}

.lf_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.lf_sidebar ul {
  list-style: none;
  margin-top: -15px;
}
.lf_sidebar ul li {
  font: 12px arial, helvetica, sans-serif;
  font-weight: bold;
  color: grey;
  padding: 5px 0px;
  border-bottom: 0.5px dotted grey;
}

.submit,
.faq,
.make_own {
  padding: 35px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.center {
  padding: 35px 0px;
}
.center .post {
  padding: 30px 0px;
}
.center .date {
  font-size: 13px;
}
.center .title {
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 43%, white 50%, #f5e4f0 78%, #d4b4d4 99%, #b086a5 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(43%, white), color-stop(50%, white), color-stop(78%, #f5e4f0), color-stop(99%, #d4b4d4), color-stop(100%, #b086a5));
  background: -webkit-linear-gradient(top, white 0%, white 43%, white 50%, #f5e4f0 78%, #d4b4d4 99%, #b086a5 100%);
  background: -o-linear-gradient(top, white 0%, white 43%, white 50%, #f5e4f0 78%, #d4b4d4 99%, #b086a5 100%);
  background: -ms-linear-gradient(top, white 0%, white 43%, white 50%, #f5e4f0 78%, #d4b4d4 99%, #b086a5 100%);
  background: linear-gradient(to bottom, white 0%, white 43%, white 50%, #f5e4f0 78%, #d4b4d4 99%, #b086a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b086a5', GradientType=0);
  border-radius: 5px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.center .title p {
  padding: 5px 0px;
  text-align: center;
}
.center .post_img {
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center .post_img a {
  margin-left: 10px;
}
.center .post_img a img {
  border: 10px solid #95cbcf;
}
.center .post_img span {
  font-size: 12px;
}
.center .post_img .italic {
  font-style: italic;
  text-align: center;
}
.center .rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px 0px;
  background-color: #f5f5f5;
}
.center .rate .first_span, .center .rate .span_num {
  font-weight: bold;
}
.center .rate .text_posted {
  color: grey;
}
.center .rate .rating_row, .center .rate .posted {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center .rate .rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.center .rate .rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.center .rate .rating > span:hover:before,
.center .rate .rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.center .rate .rate_links a {
  text-decoration: none;
  color: grey;
}
.center .rate .rate_links a span {
  padding-right: 7px;
  border-right: 1px solid grey;
}
.center .rate .rate_links a span:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
